/* Wrapper */
html { background:#eeecdf url(../img/layout/wallpaper-pattern.gif); }
body { margin:0 auto; width:64.286em;/*900px*/ max-width:100%; min-width:700px; background:url(../img/layout/strix-top.png) repeat-x 0 0; font-size:0.875em;/*14px*/ font-family:georgia,serif; color:#171a1a; line-height:1.429em;/*20px*/ }

/* Header */
#header { padding:14px 0 0; height:166px; background:url(../img/layout/pix1.gif) repeat-x 0 100%; }
#header a { background:none; border:0; font-size:2em;/*28px*/ }
#header a img { border:0; }

/* Identity */
#identity { float:left; margin:26px 0 0 3.929em;/*55px*/ }

/* Post button */
#post { float:right; margin:0; }
#post a { display:block; padding:55px 0; width:10.714em;/*300px*/ text-align:center; }
#post a:hover { background:url(../img/layout/post-hover.png) no-repeat 50% 50%; }
#post img { background:url(../img/layout/post-hover.png) no-repeat -9999px -9999px; } /* Preload hover */

/* Flash message */
#flash { padding:0 0 6px; background:url(../img/layout/pix1.gif) repeat-x 0 100%; }
#flash p { margin:2px 0 0; padding:1.786em;/*50px*/ background:#003a3a; font-size:2em;/*28px*/ color:#fff; }

/* Main: wrapper for content and sidebar */
#main { position:relative; padding:3.571em;/*50px*/ background:url(../img/layout/pix1.gif) repeat-x 0 100%; overflow: auto; }

/* Content */
#content { float:left; padding-top:3.571em;/*50px*/ width:35.714em;/*500px*/ }

/* Sidebar */
#sidebar { float:right; padding-top:3.571em;/*50px*/ width:14.280em;/*199.9px*/ }

/* Footer */
#footer { clear:both; padding:4.167em;/*50px*/ background:url(../img/layout/strix-bottom.png) repeat-x 0 100%; font-size:0.857em;/*12px*/ color:#5c6666; }
#footer #credits { float:left; width:26.667em;/*320px*/ }
#footer #rss { float:right; padding-top:1.667em;/*20px*/ width:16.667em;/*200px*/ text-align:right; }

/* Error layout */
body.error #alert { position:absolute; top:7.142em;/*100px*/ right:3.571em;/*50px*/ }
body.error #sidebar { display:none; }

/* General classes */
.skip { position:absolute; top:-9999px; left:-9999px; font-size:1px; }
.clear { clear:both; }
.clearfix:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }

/* Links */
a { border-bottom:1px solid #bb9e6d; color:#8c5400; text-decoration:none; }
a:visited { border-bottom:1px dotted #cca971; color:#a66300; }
a:hover { border-color:#a18f6d; color:#593600; }
a:active { background-color:#593600; border-color:#593600; color:#fff; }
a.danger, a.delete { padding:0 0.25em;/*3.5px*/ background:#c00; color:#fff; border-bottom:1px dotted #640008; font-weight:bold; font-variant:small-caps; }
a.delete { padding-left:16px; background:#c00 url(../img/layout/cross.png) no-repeat 0.25em 60%;/*3.5px*/ }
a.danger:hover, a.delete:hover { background-color:#640008; }
a.clean { background:none; border:0; }

/* Headings */
h1 { margin:0 0 2.143em;/*60px*/ font-size:2em;/*28px*/ color:#002f2f; }
h2 { margin:3.750em 0 1.250em;/*60px 20px*/ font-size:1.143em;/*16px*/ font-family:helvetica,arial,sans-serif; color:#046380; letter-spacing:0.063em;/*1px*/ word-spacing:0.250em;/*4px*/ text-transform:uppercase; }
h2 span { position:relative; top:-0.063em;/*-1px*/ margin-left:-0.063em;/*-1px*/ font-family:georgia,serif; font-style:italic; color:#327e92; text-transform:lowercase; }
h3 { margin:2em 0 0.667em;/*30px 10px*/ font-size:1.071em;/*15px*/ color:#5c6666; font-style:italic; font-variant:small-caps; letter-spacing:0.067em;/*1px*/ }

/* Default bottom margin */
p, ul, ol, blockquote, table, form, .errorbox { margin-bottom:1.429em;/*20px*/ }

/* Emphasis */
strong { font-weight:bold; }
em { font-style:italic; }

/* Intro's */
.minor { color:#5c6666; }
p.intro { margin:0 0 2.857em;/*40px*/ padding:0 0 1.429em;/*20px*/ background:url(../img/layout/pix2.gif) repeat-x 0 100%; font-style:italic; color:#5c6666; }
p.intro:first-letter { float:left; margin-right:0.1em;/*3.5px*/ font-size:2.5em;/*35px*/ }
p.intro:first-line { font-variant:small-caps; letter-spacing:0.029em;/*1px*/ }
#sidebar p.intro:first-letter, p.intro.minor:first-letter { float:none; font-size:1em;/*14px*/ font-weight:bold; }

/* Lists */
ul { list-style-image:url(../img/layout/bullet.png); }
ol { list-style:decimal; }
.spaced li { margin-bottom:1.429em;/*20px*/ }
li.spaced { margin-top:1.429em;/*20px*/ }

/* Blockquotes */
blockquote { padding-left:3.571em;/*50px*/ background:url(../img/layout/quote.png) no-repeat 0 0; font-style:italic; color:#5c6666; }

/* Forms and errors */
form legend { display:none; }
form p { clear:both; margin-bottom:0; padding:0.643em 0.714em 0.714em 10.714em;/*9px 10px 10px 150px*/ background:#eae8db; border-top:0.071em dotted #d7d3bc;/*1px*/ }
form p label { float:left; margin-left:-10.714em;/*-150px*/ width:10em;/*140px*/ text-align:right; }
form p small, form p samp { display:block; font-size:0.857em;/*12px*/ font-family:helvetica,arial,sans-serif; color:#5c6666; }
form p input, form p textarea { max-width:23.571em;/*330px*/ }
form abbr[title="required"] { color:#c00; }
form p.switch label { float:none; margin-left:0; width:auto; text-align:left; }
form p.switch input { float:left; margin-left:-1.5em;/*21px*/ }
form input[type="submit"] { padding:0.357em;/*5px*/ font-family:helvetica,arial,sans-serif; }
form input[type="submit"].main { margin-right:0.625em;/*10px*/ padding:0.625em 0.625em 0.5em;/*10px 10px 8px*/ font-size:1.143em;/*16px*/ font-weight:bold; text-transform:uppercase; }
form p.error label { font-weight:bold; color:#640008; }

.errorbox { padding:2.071em 1.429em 0.714em 10.714em;/*29px 20px 10px 150px*/ background:#640008; border-top:0.071em dotted #270000;/*1px*/ color:#fff; }
.errorbox h2 { margin-top:0; color:#fff; }
.errorbox ul { list-style-image:url(../img/layout/cross.png); }

/* List of all jobs (homepage) */
#rss-jobs { float:left; margin:0 0; padding:0 1.667em;/*20px*/ width:4.167em;/*50px*/ font-size:0.857em;/*12px*/ font-family:helvetica,arial,sans-serif; }
table { width:100%; border-bottom:0.071em dotted #d7d3bc;/*1px*/ }
td { padding:0.643em 1.429em 0.714em;/*9px 20px 10px*/ border-top:0.071em dotted #d7d3bc;/*1px*/ }
td.date { padding:0.750em 0 0.833em 1.667em;/*9px 0 10px 20px*/ width:4.167em;/*50px*/ font-size:0.857em;/*12px*/ font-family:helvetica,arial,sans-serif; color:#5c6666; text-transform:uppercase; font-variant:small-caps; }
.alt1 { background:#eae8db; }

/* Single job listing page */
#preview { margin-bottom:4.286em;/*60px*/ background:url(../img/layout/preview.png); }
span.date { float:right; }
.push-down { margin-top:2.857em;/*40px*/ }